body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(4, 40px);
    gap: 10px;
}

.grid-item {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item:active {
    transform: scale(0.95);
}

.grid-item.checked {
    background-color: #a2d2ff;
    border: 1px solid #5CB0FF;
}
